@import 'tailwindcss';

@config '../../../tailwind.config.ts';

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
